@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    margin-bottom: 440px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    &__logo {
        @extend %inter-800;
        font-size: 21px;
        line-height: 25px;
        color: $bg;
        span {
            color: $default;
        }
    }
    .menu__list {
        display: flex;
    }
    .menu__list-item {
        margin: 0 30px;
    }
    .menu__list-link {
        @extend %inter-400;
        color: $default;
        position: relative;
        transition: all 0.3s;
    }
    .menu__list-link:hover {
        color: $bg;
    }
    .menu__list-link--arrow-down::after {
        position: absolute;
        content: url("../images/icon/arrow-down.svg");
        top: 0;
        right: -12px;
    }
    &__user-link {
        position: relative;
    }
    &__user-num {
        position: absolute;
        top: 0;
        right: -7px;
        @extend %inter-600;
        font-size: 8px;
        line-height: 11px;
        color: $title;
        background-color: $bg;
        border-radius: 33px;
        padding: 0 7px;
    }
}
.header-content {
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 840px;
    width: 100%;
    &__title {
        text-align: center;
        @extend %inter-700;
        margin: 0 auto;
        padding: 218px 0 58px;
        font-size: 60px;
        line-height: 73px;
        color: $title;
        max-width: 780px;
    }
    &__buttons {
        text-align: center;
    }
    &__btn {
        margin: 0 15px;
        transition: all 0.3s;
        margin-bottom: 170px;
        &:hover {
            background-color: $bg;
        }
    }
    &__prev {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }
    &__end {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
}
.skill {
    margin-bottom: 109px;
    .title-bg {
        margin-bottom: 63px;
    }
}
.skill-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.skill-item {
    max-width: 383px;
    min-height: 195px;
    background-color: $accent;
    border-radius: 10px;
    padding: 17px 10px 17px 25px;
    &__num {
        font-size: 40px;
        line-height: 48px;
        @extend %inter-700;
        color: $title;
        background-color: $bg;
        border-radius: 10px;
        display: inline-block;
        padding: 6px 28px;
        margin-bottom: 25px;
    }
    &__deck {
        opacity: 0.8;
        max-width: 335px;
    }
}
.selection {
    margin-bottom: 60px;

    .title-bg {
        margin-bottom: 80px;
    }
}
.selection-item {
    border: 1px solid rgba(62, 65, 109, 0.07);
    background-color: $title;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    max-width: 357px;
    img {
        width: 90px;
        height: 80px;
        margin-bottom: 18px;
    }
    &__top-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
    }
    &__down-box {
        max-width: 750px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__deck {
        font-size: 18px;
        line-height: 22px;
        @extend %inter-600;
        max-width: 180px;
        margin-bottom: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            border: solid $bg;
            width: 45px;
            height: 4px;
            bottom: -15px;
            left: 68px;
        }
    }
    &__text {
        opacity: 0.8;
    }
}
.sale {
    background-image: url("../images/sale-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 890px;
    .title {
        padding: 67px 0 80px;
    }
}
.sale-inner {
    max-width: 778px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.sale-item {
    max-width: 372px;
    &__top-box {
        border-radius: 10px 10px 0px 0px;
        background-color: $bg;
        padding: 30px 30px 25px 30px;
    }
    &__top-box--pro {
        background-color: #ff9882;
    }
    &__down-box {
        background-color: $title;
        padding: 30px;
        border-radius: 0px 0px 10px 10px;
        min-height: 308px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: $title;
        @extend %inter-600;
        margin-bottom: 18px;
    }
    &__deck {
        text-transform: uppercase;
        @extend %inter-700;
        text-align: center;
        color: $bg;
        background-color: #6562db;
        border-radius: 10px;
        padding: 10px 9px;
        margin-bottom: 24px;
    }
    &__deck--pro {
        background-color: #d87b66;
        color: #ffdad2;
    }
    &__level {
        margin-bottom: 32px;
    }
    &__level-text {
        @extend %inter-400;
        font-size: 14px;
        line-height: 17px;
        color: #a3a1ff;
        margin-bottom: 5px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            border: solid #a3a2ff;
            height: 6px;
            width: 30px;
            bottom: -12px;
            left: 0;
        }
        &::before {
            position: absolute;
            content: "";
            border: solid #726fec;
            height: 6px;
            width: 282px;
            bottom: -12px;
            right: 0;
        }
    }
    &__level-text--pro {
        color: #ffbeaf;
        &::after {
            border: solid #ffbeaf;
            width: 282px;
        }
        &::before {
            border: solid #e9836d;
            width: 30px;
        }
    }
    &__lesson {
        display: flex;
        justify-content: space-between;
        p {
            font-size: 14px;
            line-height: 17px;
            color: $title;
            @extend %inter-600;
            margin-left: 28px;
            position: relative;
            &:first-child::before {
                position: absolute;
                content: url("../images/icon/lesson.svg");
                left: -26px;
                top: 0px;
            }
            &:last-child::before {
                position: absolute;
                content: url("../images/icon/lesson-time.svg");
                left: -26px;
                top: 0px;
            }
        }
    }
    &__text {
        font-size: 14px;
        line-height: 17px;
        opacity: 0.8;
    }
    &__num {
        p {
            font-size: 30px;
            line-height: 36px;
            @extend %inter-700;
            color: $bg;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__button {
        background-color: $bg;
        padding: 10px 38px;
    }
    &__num--pro {
        p {
            color: #ff9882;
        }
    }
    &__button--pro {
        background-color: #ff9882;
    }
}
.sale-item--left,
.sale-item--right {
    position: relative;
}
.sale-item--left::after {
    position: absolute;
    content: url("../images/man.png");
    top: 94px;
    left: -280px;
    -webkit-animation: bounce-down 4.6s linear infinite;
    animation: bounce-down 4.6s linear infinite;
}
.sale-item--right::before {
    position: absolute;
    content: url("../images/woman.png");
    top: -76px;
    right: -330px;
    -webkit-animation: bounce-down 5.6s linear infinite;
    animation: bounce-down 5.6s linear infinite;
}
@keyframes bounce-down {
    25% {
        -webkit-transform: translateY(-15px);
    }
    50%,
    100% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(15px);
    }
}

.set {
    padding: 90px 0 120px;
    .title {
        margin-bottom: 80px;
    }
}
.set-inner {
    display: flex;
    justify-content: space-between;
}
.set-item {
    margin: 0 auto;
    transition: all 0.3s;
    &__img-box {
        background: rgba(132, 130, 255, 0.23);
        border: 4px solid #8482ff;
        border-radius: 46px;
        width: 197px;
        height: 197px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    &__img {
        width: 150px;
        height: 150px;
    }
    &__title {
        text-align: center;
        color: $title;
        font-size: 18px;
        line-height: 22px;
        @extend %inter-600;
        margin-bottom: 20px;
    }
    &__deck {
        opacity: 0.8;
        color: $title;
        text-align: center;
        max-width: 210px;
    }
}
.set-item--active {
    background-color: $bg;
    border-radius: 46px;
    padding: 38px 50px;
}
.set-item-noactive {
    padding-top: 38px;
}
.lecturer {
    .title {
        margin-bottom: 80px;
        span {
            color: $bg;
        }
    }
}
.lecturer-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 65px;
    &__text-left,
    &__text-right {
        color: $default;
        max-width: 400px;
        p {
            background: #ff9882;
            border-radius: 42px;
            padding: 10px;
            margin-bottom: 25px;
            -webkit-animation: bounce-text 5.6s linear infinite;
            animation: bounce-text 5.6s linear infinite;
        }
    }
    .lecturer-text {
        -webkit-animation: bounce-text 7.6s linear infinite;
        animation: bounce-text 7.6s linear infinite;
    }
    &__social-link {
        display: flex;
        justify-content: center;
        margin-bottom: 14px;
    }
    &__name {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        @extend %inter-600;
        color: $title;
        margin-bottom: 13px;
    }
    &__deck {
        margin: 0 auto;
        text-align: center;
        opacity: 0.8;
        color: $title;
        max-width: 370px;
    }
}
@keyframes bounce-text {
    25% {
        -webkit-transform: translateX(-40px);
    }
    50%,
    100% {
        -webkit-transform: translateX(0);
    }
    75% {
        -webkit-transform: translateX(55px);
    }
}

.certificate {
    padding: 120px 0;
    .certificate-inner {
        display: flex;
        justify-content: center;
    }
    &__img {
        width: 416px;
        margin-right: 45px;
    }
}
.certificate-deck {
    max-width: 532px;
    color: $title;
    padding-top: 100px;
    margin-left: 45px;
    .title {
        margin-bottom: 30px;
    }
    &__text-center {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 36px;
    }
    &__text-box {
        display: flex;
        justify-content: space-between;
    }
    &__text-left,
    &__text-right {
        width: 45%;
        h5 {
            font-size: 18px;
            line-height: 22px;
            @extend %inter-600;
            margin-bottom: 19px;
        }
    }
    &__link-start,
    &__link-pro {
        display: block;
        margin-top: 10px;
        padding-left: 19px;
        font-size: 14px;
        line-height: 17px;
        position: relative;
    }
    &__link-start {
        color: $bg;
        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 18px;
            border-bottom: 1px solid $bg;
            width: 130px;
            height: 1px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 6px;
            left: 0;
            background-color: $bg;
            border-radius: 50%;
        }
    }
    &__link-pro {
        color: #ff9882;
        &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 18px;
            border-bottom: 1px solid #ff9882;
            width: 120px;
            height: 1px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            top: 6px;
            left: 0;
            background-color: #ff9882;
            border-radius: 50%;
        }
    }
}
.prize {
    padding-bottom: 120px;
    .prize-inner {
        display: flex;
        align-items: center;
        border: 2px solid $bg;
        border-radius: 20px;
        background-color: #525794;
        padding: 60px 148px;
        .prize__img {
            max-width: 255px;
            max-height: 255px;
            margin-right: 40px;
        }
    }
}
.prize-box {
    margin-left: 40px;
    .title {
        margin-bottom: 40px;
        text-align: left;
    }
    &__num {
        display: flex;
        margin-bottom: 38px;
    }
    &__num-left,
    &__num-right {
        color: $title;
    }
    &__num-left {
        margin-right: 66px;
    }
    &__num-text {
        font-size: 18px;
        line-height: 22px;
        opacity: 0.5;
        margin-bottom: 11px;
    }
    &__num-deck {
        font-size: 30px;
        line-height: 36px;
        @extend %inter-700;
    }
    &__topplaces {
        display: flex;
        margin-bottom: 42px;
    }
    &__topplaces-first,
    &__topplaces-second,
    &__topplaces-third {
        padding: 12px 17px;
        border-radius: 15px;
        span {
            display: inline-block;
            color: $title;
            font-size: 12px;
            line-height: 16px;
            opacity: 0.5;
            margin-bottom: 8px;
        }
        p {
            @extend %inter-700;
            font-size: 21px;
            line-height: 26px;
            color: $title;
        }
    }
    &__topplaces-first {
        background-color: #ff9882;
        box-shadow: 0px 10.0589px 22.9918px -7.18492px rgba(255, 152, 130, 0.5);
    }
    &__topplaces-second {
        margin: 0 15px;
        background-color: #a5a5b5;
        box-shadow: 0px 10.0589px 22.9918px -7.18492px rgba(165, 165, 181, 0.5);
    }
    &__topplaces-third {
        background-color: #ac8f73;
        box-shadow: 0px 10.0589px 22.9918px -7.18492px rgba(172, 143, 115, 0.5);
    }
    &__button {
        background-color: $bg;
        border: none;
    }
}
.confetti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.confetti-piece {
    position: absolute;
    width: 8px;
    height: 16px;
    background: $yellow;
    top: 0;
    opacity: 0;

    @for $i from 1 through 13 {
        &:nth-child(#{$i}) {
            left: $i * 7%;
            transform: rotate(#{randomNum(-80, 80)}deg);
            animation: makeItRain $duration * 1ms infinite ease-out;
            animation-delay: #{randomNum(0, $duration * 0.5)}ms;
            animation-duration: #{randomNum($duration * 0.7, $duration * 1.2)}ms;
        }
    }

    &:nth-child(odd) {
        background: $blue;
    }

    &:nth-child(even) {
        z-index: 1;
    }

    &:nth-child(4n) {
        width: 5px;
        height: 12px;
        animation-duration: $duration * 2ms;
    }

    &:nth-child(3n) {
        width: 3px;
        height: 10px;
        animation-duration: $duration * 7.5ms;
        animation-delay: $duration * 3ms;
    }

    &:nth-child(4n-7) {
        background: $pink;
    }
}

@keyframes makeItRain {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        transform: translateY(400px);
    }
}

.slider {
    padding-bottom: 140px;
    .title {
        margin-bottom: 60px;
    }
}
.slider-blink {
    &__text-first,
    &__text-second {
        display: flex;
        justify-content: space-between;
        max-width: 960px;
        margin-bottom: 30px;
    }
    &__text-second {
        margin-left: 170px;
        max-width: 1070px;
    }
    &__text-all {
        padding: 10px 20px;
        font-size: 18px;
        line-height: 22px;
        border-radius: 10px;
        @extend %inter-500;
        animation-name: blink;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    &__text-all--nobg {
        color: $bg;
        border: 1px solid $bg;
        animation-duration: 3s;
    }
    &__text-all--violetbg {
        color: $bg;
        background-color: #4b508d;
        border: 1px solid $bg;
        animation-duration: 5s;
    }
    &__text-all--pro {
        color: #ff9882;
        background-color: #88635b;
        border: 1px solid #ff9882;
        animation-duration: 6s;
    }
}
@keyframes blink {
    50% {
        opacity: 0.3;
    }
}

.slider-item {
    &__text {
        color: $title;
        font-size: 40px;
        line-height: 48px;
        @extend %inter-700;
        text-transform: uppercase;
    }
    &__img {
        border-radius: 10px;
        max-width: 100%;
        max-height: 350px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        padding-left: 30px;
        transform: translateY(-228%);
    }
}
.slick-list {
    max-height: 370px;
}
.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots button {
    font-size: 0;
    border: none;
    padding: 0;
    background-color: #4b508d;
    width: 97px;
    height: 10px;
}

.slick-active button {
    background-color: $bg;
    height: 10px;
    border-radius: 42px;
}
#slick-slide-control00 {
    border-top-left-radius: 42px;
    border-bottom-left-radius: 42px;
}
#slick-slide-control04 {
    border-top-right-radius: 42px;
    border-bottom-right-radius: 42px;
}

.footer {
    background-color: #1a1b30;
    background-image: url("../images/footer-decor.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    .header-top {
        margin-bottom: 30px;
    }
    .header-top__logo {
        span {
            color: $title;
        }
    }
    .menu__list-link {
        color: $title;
    }
}
.footer-contact {
    margin-bottom: 120px;
    &__text {
        font-size: 14px;
        line-height: 17px;
        color: $title;
        margin-bottom: 10px;
    }
    &__link {
        font-size: 14px;
        line-height: 17px;
        color: $bg;
    }
}
.footer-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $bg;
    margin-bottom: 20px;
}
#toTop {
    z-index: 1;
    width: 66px;
    padding:5px;
    position:fixed;
    bottom:40px; /* отступ кнопки от нижнего края страницы*/
    right:450px;
    cursor:pointer;
    display:none;
    }
@import "media";
